html, body {
    margin: 0;
    padding: 0;
}
body {
    background: black;
    color: #fff;
    text-align: center;
    font-family: 'Quicksand', arial, sans-serif;
}

a {
    color: #fff;
}

a:active {
    color: #fff;
}

a:visited {
    /*color: #ccc;*/
}

#wrapper {
    width: 803px;
    margin: auto;
}

#logo {
    text-shadow: 0px 1px 1px black;
    font-size: 1.1em;

    position: relative;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

#logo > img {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

#featured_in {
    position: absolute;
    left: -15px;
    margin-left: -10px;
    font-size: 1.1em;
    text-shadow: blue;
    font-weight: bold;
    -webkit-transform: rotate(-8deg);
}

#featured_in img {
    width: 170px;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: -1px;
}

ul.nav li {
    float: left;
    width: 133px;
    border-left: 1px solid black;
    border-top: 1px solid black;

}

ul.nav a.last {
    border-bottom-right-radius: 6px;
}

ul.nav a {
    display: block;
    text-decoration: none;
    padding: 2px;
}

ul.nav a:hover {
    background: rgba(255, 0, 0, 0.5);
    cursor: pointer;
}

ul.nav a.highlighted:hover {
    /*background: rgba(255, 250, 0, 1);*/
    background: rgba(255, 200, 50, 1);
}

.highlighted {
    background-color: orange;
    /*background: rgba(255, 250, 0, 1);*/
}

h2 {
    color: #EEE;
    font-weight: normal;
}

#flags {
    position: absolute;
    /*top: 0;*/
    /*right: 0;*/
    top: 18px;
    right: -32px;
}

.borderit img {
    border: 1px solid #555;
}

.borderit:hover img {
    border: 1px solid #f00;
}

.borderit:hover {
    color: red;
}

.selected img {
    margin: 0px;
    padding: 0px;
    border-style: solid;
    border-color: red;
    border-width: 2px 2px 2px 1px;
}

.gradient {
    background: rgb(234, 0, 0); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(234, 0, 0, 1) 0%, rgba(255, 76, 0, 1) 42%, rgba(255, 170, 0, 1) 47%, rgba(255, 97, 0, 1) 55%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(234, 0, 0, 1)), color-stop(42%, rgba(255, 76, 0, 1)), color-stop(47%, rgba(255, 170, 0, 1)), color-stop(55%, rgba(255, 97, 0, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(234, 0, 0, 1) 0%, rgba(255, 76, 0, 1) 42%, rgba(255, 170, 0, 1) 47%, rgba(255, 97, 0, 1) 55%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(234, 0, 0, 1) 0%, rgba(255, 76, 0, 1) 42%, rgba(255, 170, 0, 1) 47%, rgba(255, 97, 0, 1) 55%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(234, 0, 0, 1) 0%, rgba(255, 76, 0, 1) 42%, rgba(255, 170, 0, 1) 47%, rgba(255, 97, 0, 1) 55%); /* IE10+ */
    background: linear-gradient(top, rgba(234, 0, 0, 1) 0%, rgba(255, 76, 0, 1) 42%, rgba(255, 170, 0, 1) 47%, rgba(255, 97, 0, 1) 55%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ea0000', endColorstr = '#ff6100', GradientType = 0); /* IE6-9 */

    background: rgb(219, 0, 0); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(219, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 42%, rgba(255, 136, 0, 1) 47%, rgba(252, 63, 0, 1) 55%, rgba(242, 28, 0, 1) 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(219, 0, 0, 1)), color-stop(42%, rgba(255, 0, 0, 1)), color-stop(47%, rgba(255, 136, 0, 1)), color-stop(55%, rgba(252, 63, 0, 1)), color-stop(99%, rgba(242, 28, 0, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(219, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 42%, rgba(255, 136, 0, 1) 47%, rgba(252, 63, 0, 1) 55%, rgba(242, 28, 0, 1) 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(219, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 42%, rgba(255, 136, 0, 1) 47%, rgba(252, 63, 0, 1) 55%, rgba(242, 28, 0, 1) 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(219, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 42%, rgba(255, 136, 0, 1) 47%, rgba(252, 63, 0, 1) 55%, rgba(242, 28, 0, 1) 99%); /* IE10+ */
    background: linear-gradient(top, rgba(219, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 42%, rgba(255, 136, 0, 1) 47%, rgba(252, 63, 0, 1) 55%, rgba(242, 28, 0, 1) 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#db0000', endColorstr = '#f21c00', GradientType = 0); /* IE6-9 */

    background: rgb(219, 0, 0); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(219, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 42%, rgba(186, 0, 0, 1) 47%, rgba(252, 63, 0, 1) 55%, rgba(242, 28, 0, 1) 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(219, 0, 0, 1)), color-stop(42%, rgba(255, 0, 0, 1)), color-stop(47%, rgba(186, 0, 0, 1)), color-stop(55%, rgba(252, 63, 0, 1)), color-stop(99%, rgba(242, 28, 0, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(219, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 42%, rgba(186, 0, 0, 1) 47%, rgba(252, 63, 0, 1) 55%, rgba(242, 28, 0, 1) 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(219, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 42%, rgba(186, 0, 0, 1) 47%, rgba(252, 63, 0, 1) 55%, rgba(242, 28, 0, 1) 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(219, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 42%, rgba(186, 0, 0, 1) 47%, rgba(252, 63, 0, 1) 55%, rgba(242, 28, 0, 1) 99%); /* IE10+ */
    background: linear-gradient(top, rgba(219, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 42%, rgba(186, 0, 0, 1) 47%, rgba(252, 63, 0, 1) 55%, rgba(242, 28, 0, 1) 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#db0000', endColorstr = '#f21c00', GradientType = 0); /* IE6-9 */

    background: rgb(242, 0, 0); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(242, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 42%, rgba(186, 0, 0, 1) 47%, rgba(252, 63, 0, 1) 55%, rgba(229, 0, 0, 1) 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(242, 0, 0, 1)), color-stop(42%, rgba(255, 0, 0, 1)), color-stop(47%, rgba(186, 0, 0, 1)), color-stop(55%, rgba(252, 63, 0, 1)), color-stop(99%, rgba(229, 0, 0, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(242, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 42%, rgba(186, 0, 0, 1) 47%, rgba(252, 63, 0, 1) 55%, rgba(229, 0, 0, 1) 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(242, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 42%, rgba(186, 0, 0, 1) 47%, rgba(252, 63, 0, 1) 55%, rgba(229, 0, 0, 1) 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(242, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 42%, rgba(186, 0, 0, 1) 47%, rgba(252, 63, 0, 1) 55%, rgba(229, 0, 0, 1) 99%); /* IE10+ */
    background: linear-gradient(top, rgba(242, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 42%, rgba(186, 0, 0, 1) 47%, rgba(252, 63, 0, 1) 55%, rgba(229, 0, 0, 1) 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f20000', endColorstr = '#e50000', GradientType = 0); /* IE6-9 */

    background: rgb(237, 31, 0); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(237, 31, 0, 1) 0%, rgba(247, 16, 0, 1) 40%, rgba(186, 0, 0, 1) 45%, rgba(242, 48, 0, 1) 53%, rgba(219, 0, 0, 1) 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(237, 31, 0, 1)), color-stop(40%, rgba(247, 16, 0, 1)), color-stop(45%, rgba(186, 0, 0, 1)), color-stop(53%, rgba(242, 48, 0, 1)), color-stop(99%, rgba(219, 0, 0, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(237, 31, 0, 1) 0%, rgba(247, 16, 0, 1) 40%, rgba(186, 0, 0, 1) 45%, rgba(242, 48, 0, 1) 53%, rgba(219, 0, 0, 1) 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(237, 31, 0, 1) 0%, rgba(247, 16, 0, 1) 40%, rgba(186, 0, 0, 1) 45%, rgba(242, 48, 0, 1) 53%, rgba(219, 0, 0, 1) 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(237, 31, 0, 1) 0%, rgba(247, 16, 0, 1) 40%, rgba(186, 0, 0, 1) 45%, rgba(242, 48, 0, 1) 53%, rgba(219, 0, 0, 1) 99%); /* IE10+ */
    background: linear-gradient(top, rgba(237, 31, 0, 1) 0%, rgba(247, 16, 0, 1) 40%, rgba(186, 0, 0, 1) 45%, rgba(242, 48, 0, 1) 53%, rgba(219, 0, 0, 1) 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ed1f00', endColorstr = '#db0000', GradientType = 0); /* IE6-9 */

}

#content {
    position: relative;
    height: 720px;
    margin-top: 200px;
}

#Film_page #content {
    height: 820px;
}

#video {
    z-index: 1;
    -webkit-box-shadow: 0px 0px 8px #000;
    -moz-box-shadow: 0px 0px 8px #000;
    box-shadow: 0px 0px 8px #000;
    position: absolute;
    top: 40px;
    left: 0px;
}

#slideshow {
    z-index: 1;
    -webkit-box-shadow: 0px 0px 8px #000;
    -moz-box-shadow: 0px 0px 8px #000;
    box-shadow: 0px 0px 8px #000;
    position: absolute;
    top: 233px;
    left: 0px;
}

#slideshow img {
    width: 320px;
}

#main_image {
    position: absolute;
    top: 0;
    right: 0;
}

#Film_page #main_image {
    top: 300px;
    right: 0;
}

#info_blurb{
    text-align: left;
}

div.main2 {
    width: 810px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
}

id.main {
    border-style: solid;
    border-color: red;
    border-width: 1px;
}

img.main {
    margin: 1px 0px 3px 0px;
    padding: 0px;
    display: block;
}

a.link {
    font-weight: bold;
}

a.link:hover {
    color: #fff;
}

p.leftmargin {
    margin-left: 1cm;
    text-align: left;
    color: #000000;
}

.bl {
    background: url(asetts/bl.gif) 0 100% no-repeat #FFFFFF;
    width: 350px;
}

.br {
    background: url(asetts/br.gif) 100% 100% no-repeat;
}

.tl {
    background: url(asetts/tl.gif) 0 0 no-repeat
}

.tr {
    background: url(asetts/tr.gif) 100% 0 no-repeat;
    padding: 1px
}

.clear {
    font-size: 1px;
    height: 1px
}

#mainDiv a.borderit{
    margin: 0.5em;
    display: block;
    float: left;
}
#mainDiv a.borderit:hover{
    cursor: pointer;
}

#footer {
    margin: auto;
    /*width: 360px;*/
    border-radius: 8px;
    color: white;
    text-shadow: 0px 1px 1px black;
    padding-left: 3em;
    text-align: left;

    background: rgb(63, 63, 63); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(63, 63, 63, 1) 0%, rgba(38, 38, 38, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(63, 63, 63, 1)), color-stop(100%, rgba(38, 38, 38, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(63, 63, 63, 1) 0%, rgba(38, 38, 38, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(63, 63, 63, 1) 0%, rgba(38, 38, 38, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(63, 63, 63, 1) 0%, rgba(38, 38, 38, 1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(63, 63, 63, 1) 0%, rgba(38, 38, 38, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#3f3f3f', endColorstr = '#262626', GradientType = 0); /* IE6-9 */

}

.lightbox {
    color: black;
    text-shadow: 0px 1px 1px white;

    background: rgb(238, 238, 238); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(204, 204, 204, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(238, 238, 238, 1)), color-stop(100%, rgba(204, 204, 204, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(204, 204, 204, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(204, 204, 204, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(204, 204, 204, 1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(204, 204, 204, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc', GradientType = 0); /* IE6-9 */
}

#footer p {
    padding: 1em;
}

.galleria-lightbox-content {
    background-color: black !important;
}

.galleria-lightbox-close, .galleria-lightbox-next, .galleria-lightbox-prev {
    background-color: #333 !important;
}


/* via https://codepen.io/agrimsrud/pen/hcpKw */
.opening-banner{
  position: absolute;
  left: 50%;
  display: block;
  margin: 10px -350px;
  width: 700px;
  height: 120px;
  font: normal 40px/60px arial, sans-serif;
    font-family: 'Quicksand', sans-serif;


  text-align: center;
  color: #fff;
  background: #FFA500;
  border: 1px solid #ee9400;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0,0,0,.15) inset,
      				0 6px 10px rgba(0,0,0,.15);
  /*background: #9b2;*/
  /*border: 1px solid #8a1;*/
}

.opening-banner::before,
.opening-banner::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: -100px;
  top: 45px;
  display: block;
  width: 40px;
  height: 0px;
  border: 60px solid #FFA500;
  border-right: 60px solid #d98c00;
  border-bottom-color: #ee9a00;
  border-left-color: transparent;
  transform: rotate(-5deg);
  /*border: 30px solid #9b2;*/
  /*border-right: 20px solid #791;*/
  /*border-bottom-color: #94b81e;*/
}

.opening-banner::after {
  left: auto;
  right: -100px;
  border-left: 60px solid #d98c00;
  border-right: 60px solid transparent;
  transform: rotate(5deg);
  /*border-left: 20px solid #791;*/
}

.opening-banner .small {
    font-size: 22px;
    line-height: 24px;
    text-align: right;
    padding-right: 10px;
    font-style: italic;
}